@import url("https://www.nerdfonts.com/assets/css/webfont.css");

.details {
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
}

.late-critical {
    color: red
}

.late-ok {
    color: goldenrod
}

.books td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.books {
    width: 100%
}

.header {
    position: relative;
}

.menu {
    position:absolute;
    text-align: left;
    left:0px;
    top:1.5em;
    z-index: 2;
}

.menu nf {
    font-size: 1.2em;
}

.menu div {
  font-size: 1.2em;
  background: white;
}

.current {
    font-weight: bold
}
