@import url("https://www.nerdfonts.com/assets/css/webfont.css");

.details {
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
}

.late-critical {
    color: red
}

.late-ok {
    color: goldenrod
}

.books td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.books {
    width: 100%
}
